input[type='text'],
input[type='number'],
input[type='tel'],
input[type='email'],
input[type='password'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block; // Remove margin under textarea in Chrome and FF
  width: 100%;
  margin: $leading 0 $leading*2 0;
  padding: $leading/2;
  border: 2px solid $nhs-blue;
  font-family: inherit;
  font-size: inherit;
  font-weight: $bodyweight;
  line-height: $leading*2;

  @include media(mid) {
    width: 75%;
  }

  &:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 5px $focus-colour;
    -moz-box-shadow: 0 0 0 5px $focus-colour;
    box-shadow: 0 0 0 5px $focus-colour;
  }

  &.-small {
    @include media(mid) {
      width: 8em;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
