textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block; // Remove margin under textarea in Chrome and FF
  width: 100%;
  margin: $leading 0 $leading*2 0;
  padding: $leading/2;
  border: 2px solid $nhs-blue;
  font-family: inherit;
  font-size: inherit;
  font-weight: $bodyweight;
  line-height: $leading*2;

  background-image: -webkit-linear-gradient(top, $grey-5 0, rgba(255,255,255,0) 1px);
  background-image: -moz-linear-gradient(top, $grey-5 0, rgba(255,255,255,0) 1px);
  background-image: -o-linear-gradient(top, $grey-5 0, rgba(255,255,255,0) 1px);
  background-image: linear-gradient(to bottom, $grey-5 0, rgba(255,255,255,0) 1px);
  background-repeat: repeat-y;
  background-size: 100% $leading*2;

  /*@include media(mid) {
    width: 75%;
  }*/

  &:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 5px $focus-colour;
    -moz-box-shadow: 0 0 0 5px $focus-colour;
    box-shadow: 0 0 0 5px $focus-colour;
  }
}
