#global-header {
  @extend %contain-floats;
  border-bottom: 3px solid $nhs-blue;
  padding-top: $leading*4;
  padding: $leading*3;
  padding-left:0px;
  padding-right:0px;

  @include media(large) {
    padding-left:20px;
  }

  @include media(mid) {
    padding-top: $leading*2;
  }
}

.header-container {
  @extend %block;
  padding-top: $leading*2;



}

.header-logo {
  display: block;
  margin-bottom: $leading/2;
  float: left;

  img {
    display: block;
    width: 79px;
    height: 32px;
  }
}

.service-name {
  display: inline;
  color: $grey-1;
  margin-left: $leading*2;

  @include media(mid) {
    display: inline;
    line-height: 32px;
  }
}

