.gp-finder-search {

  @extend .measure;

  .form-control {
    float: left;
    width: calc(100% - 52px);

    @include media(mid) {
      width: 75%;
    }
  }

  .button {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    padding: 0;
    margin: $leading 0;
    font-family: inherit;
    color: $white;
    text-indent: -999em;
    background: url("/images/icon-search.svg") center no-repeat $blue;
    background-size: 65%;
    border: 0;
    cursor: pointer;
  }

}

.gp-finder-results {

  @include media(large) {
    max-width: 75%;
  }

  .result {
    cursor: pointer;
    display: block;
    margin: 9px 0;
    padding: 12px 12px 6px 12px;
    text-decoration: none;
    color: $black;
    background-color: $white;
    border: 1px solid $grey-2;
    border-bottom-width: 2px;

    @include media(large) {
      margin: 18px 0;
    }
  }

  .result {
    &:hover,
    &:focus {
      outline: 3px solid $yellow;
    }
  }

  .result-title {
    font-size: $body;
    font-weight: 400;
    color: $blue;
    text-decoration: underline;
    margin: 0;
  }

  p {
    margin: 6px 0;
    font-size: 16px;
    @include media(large) {
      margin: 12px 0;
      font-size: 18px;
    }
  }

  .distance {
    font-size: 14px;
    @include media(large) {
      font-size: 16px;
    }
  }

  .person {
    position: relative;
    left: 6px;
    padding-left: 18px;
    border-left: 1px dotted $black;

    img {
      display: inline-block;
      vertical-align: middle;
    }

    &:before {
      content: '';
      position: absolute;
      left: -1px;
      top: 48%;
      bottom: 0;
      display: block;
      width: 12px;
      background-color: $white;
      border-top: 1px dotted $black;
    }
  }

  strong {
    padding-left: 2px;
    padding-right: 2px;
    font-weight: 400;
    background-color: tint($blue, 90%);
  }

  a.start-of-page:not(:first-child) {
    position: relative;
    margin-top: 30px;
  }

  a.start-of-page:not(:first-child):before {
    content: "";
    display: block;
    background: #ddd;
    position: absolute;
    top: -17px;
    width: 100%;
    height: 2px;
    left: 0;
  }
}

.gp-finder-pagination {
  @include media(large) {
    max-width: 75%;
  }
}

.gp-finder-foot,
.gp-finder-no-results {
  margin-top: 22px;
  font-size: 16px;
  @include media(large) {
    max-width: 75%;
  }
  li {
    margin-bottom: 4px;
    @include media(large) {
      margin-bottom: 8px;
    }
  }
}
