body {
  margin: 0;
  padding: 0;
  background-color: $white;
}

// Block for a layout "row" - i.e. header, content, footer
%block,
.content {
  @extend %contain-floats;
  
  max-width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include media(large) {
    padding-left: 0;
    padding-right: 0;
  }
}

.content {
  padding-top: $leading*6;
}

// float a column right instead of left
.f-right {
  @include media(640px) {
    float: right;
  }
}

.content-block {
  margin-bottom: $leading*6;
}
