$body: 20px;
$leading: 8px;
$lightweight: 200;
$bodyweight: 400;
$boldweight: 700;
$smallprint: 16px;
$baseline-grid-unit: 4px;

body,
.body {
  color: $text-colour;
  font-family: $family;
  font-weight: $bodyweight;
  font-size: $body;
  line-height: $leading*4;
}

// Reading width
.measure {
  max-width: 34em;
}

h1,
.h1 {
  margin: $leading*2 0;
  font-size: 40px;
  font-weight: $boldweight;
  line-height: $leading*6; 

  @include media(mid) {
    font-size: 48px;
    line-height: $leading*8;
  }

  @include media(large) {
    font-size: 56px;
    line-height: $leading*8;
  }
}

h2,
.h2 {
  margin: $leading*2 0;
  font-size: 28px;
  font-weight: $boldweight;
  line-height: $leading*5;

  @include media(mid) {
    font-size: 32px;
    line-height: $leading*6;
  }

  @include media(large) {
    font-size: 36px;
    line-height: $leading*6;
  }
}

h3,
.h3 {
  margin: $leading*2 0;
  font-size: 20px;
  font-weight: $boldweight;
  line-height: $leading*4;
}

.smallprint {
  font-size: $smallprint;
  color: $grey-5;
}
