.heading-xxlarge {
  @extend h1;
}

.heading-xlarge {
  @extend h2;
}

.heading-large {
  @extend h3;
}

.heading-body {
  @extend h4;
}

/* remove undelines for a tags used as anchors */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

.heading-prefix {
  display: block;
  font-size: 20px;
  line-height: 1;
  color: tint($black, 50);
}
