{% extends '_layouts/layout.html' %}

{% block page_title %}
{% endblock %}

{% block content %}

<div class="header-panel">
  <h1 class="heading-xlarge">See a dentist today</h1>
  <div class="content-seperator"></div>
  <div class="precis">You should see a dentist within 6 hours</div>
</div>

<div class="measure">

<div class="content-block">
  <h2>If you can't see a dentist</h2>
  <details>
    <summary class="title">Arrange for someone to phone you</summary>
    <div class="signage">
      <p>
        They will check your answers and give you advice on what to do next
      </p>
      <div class="info">
        <h3>NHS 111 (YAS) Dental advice</h3>
        <div class="cta">
          <a href="name" class="button">Book a call</a>
        </div>
      </div>
    </div>
  </details>

  <details>
    <summary>Visit a walk-in service</summary>
    <div class="signage">
      <p>
        Walk-in services don't require an appointment.
      </p>
      <div class="info">
        <h3>Leeds, West Yorkshire (Unplanned Booking Service)</h3>
        <ul class="address-list">
          <li>Wilmington Grove, Leeds, LS7 2BQ</li>
          <li>Open today: 07:30 to 10:30</li>
        </ul>
        </ul>
      </div>
    </div>
</div>

<div class="callout callout--attention">
  <h2>Call 111 if your symptoms get worse</h2>
  <p>If there are any new symptoms, or if the condition gets worse, call NHS 111 for advice.</p>
</div>

<div class="content-block">

  <h2>Treating dental pain at home</h2>
  <h3>Medication, pain and/or fever</h3>
  <ul>
    <li>Paracetamol or ibuprofen can be used to relieve pain or a fever. Don't take if you've been told not to, or you've already taken some. Read the instructions on the packet, or talk to a pharmacist.</li>
  </ul>

  <h3>Toothache</h3>
  <ul>
    <li>Don't apply gels or medicine directly to the tooth or nearby gum area. This may damage gums.</li>
    <li>Avoid hot or cold food and drinks.</li>
    <li>See a dentist for your toothache. Any other cures will be temporary.</li>
  </ul>

</div>

</div>

{% endblock %}

{% block footer %}{% endblock %}
