@import url("//fast.fonts.net/cssapi/4c65968f-c33e-4eb6-9a5d-ab4f81a0543f.css");
.prototype-warning-inner, .breadcrumb, .footer-container, .-date, .error-summary, form, .form-group, #global-header, .signage, .nhsid-container, .header-container,
.content, .grid-row {
  zoom: 1;
}

.prototype-warning-inner:after, .breadcrumb:after, .footer-container:after, .-date:after, .error-summary:after, form:after, .form-group:after, #global-header:after, .signage:after, .nhsid-container:after, .header-container:after,
.content:after, .grid-row:after {
  content: "";
  display: block;
  clear: both;
}

body, pre.user-input,
.body {
  color: #231f20;
  font-family: "Neue Frutiger W01", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.measure, .gp-finder-search {
  max-width: 34em;
}

h1, .heading-xxlarge, .primary,
.h1 {
  margin: 16px 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

@media (min-width: 500px) {
  h1, .heading-xxlarge, .primary,
  .h1 {
    font-size: 48px;
    line-height: 64px;
  }
}

@media (min-width: 980px) {
  h1, .heading-xxlarge, .primary,
  .h1 {
    font-size: 56px;
    line-height: 64px;
  }
}

h2, .heading-xlarge, table caption, .secondary,
.h2 {
  margin: 16px 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
}

@media (min-width: 500px) {
  h2, .heading-xlarge, table caption, .secondary,
  .h2 {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (min-width: 980px) {
  h2, .heading-xlarge, table caption, .secondary,
  .h2 {
    font-size: 36px;
    line-height: 48px;
  }
}

h3, .heading-large,
.h3 {
  margin: 16px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.smallprint {
  font-size: 16px;
  color: #f0f4f5;
}

/* remove undelines for a tags used as anchors */
h1 a, .heading-xxlarge a, .primary a,
h2 a, .heading-xlarge a, table caption a, .secondary a,
h3 a, .heading-large a,
h4 a, .heading-body a,
h5 a,
h6 a {
  text-decoration: none;
}

.heading-prefix {
  display: block;
  font-size: 20px;
  line-height: 1;
  color: #918f90;
}

p {
  margin: 16px 0 16px 0;
}

pre.user-input {
  font-size: inherit;
}

ul, ol {
  margin: 8px 0 16px 0;
  padding-left: 1em;
  list-style-position: outside;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {
  margin: 0 0 8px 0;
  padding-left: 0;
}

ul.link-list {
  list-style-type: none;
  padding: 0;
}

ul.address-list {
  list-style-type: none;
  padding: 0;
}

.tel {
  white-space: nowrap;
}

a:link {
  color: #005eb8;
}

a:visited {
  color: #003087;
}

a:hover {
  color: #4c92d9;
}

a:active {
  color: #4c92d9;
}

a:focus {
  outline: 3px solid #ffb81c;
}

.link--reverse-polarity:link {
  color: #fff;
}

.link--reverse-polarity:visited {
  color: #fff;
}

.link--reverse-polarity:hover {
  color: #d4efff;
}

.link--reverse-polarity:active {
  color: #d4efff;
}

.link--reverse-polarity:focus {
  outline: 3px solid #ffb81c;
}

.prototype-warning {
  background-color: #768692;
  color: #d9e1e2;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 500px) {
  .prototype-warning {
    line-height: 16px;
  }
}

.prototype-warning a {
  color: #d9e1e2;
}

.prototype-warning-inner {
  padding-bottom: 4px;
  padding-top: 4px;
}

.banner, .banner--alpha, .banner--beta {
  display: inline;
  padding: 4px;
  font-size: 16px;
  font-weight: 700;
  margin-left: 16px;
}

.banner--alpha {
  background-color: #006747;
}

.banner--beta {
  background-color: #ffb81c;
}

.breadcrumb {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

.breadcrumb li {
  float: left;
}

.breadcrumb li.selected {
  display: none;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  padding-left: 2px;
}

@media (min-width: 500px) {
  .breadcrumb li.selected {
    display: block;
  }
}

.breadcrumb .button {
  margin-bottom: 0;
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 48px;
  width: 100%;
  padding: 0 32px;
  margin: 0 0 8px 0;
  text-align: center;
  color: #fff;
  background-color: #007f3b;
  cursor: pointer;
  border: 1px solid #007f3b;
  -webkit-appearance: none;
}

.button:link, .button:hover, .button:focus, .button:visited {
  text-decoration: none;
  color: #fff;
  background-color: #007f3b;
}

.button:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 5px #ffb81c;
  -moz-box-shadow: 0 0 0 5px #ffb81c;
  box-shadow: 0 0 0 5px #ffb81c;
}

@media (min-width: 500px) {
  .button {
    width: auto;
    margin: 0 8px 0 0;
  }
}

.button.-back {
  background-color: transparent;
  border: transparent;
  border-left: 0;
  padding-left: 0;
  color: #768692;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
}

.button.-back::before {
  content: "";
  display: inline-block;
  margin-right: 4px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #768692;
}

.button.-secondary {
  background-color: #e6eff8;
  border-color: #ccdff1;
  color: #231f20;
  font-weight: 400;
}

.button.-bordered {
  border: 2px solid #f0f4f5;
  background-color: #f0f4f5;
  padding: 2px 4px;
  color: #005eb8;
  margin-right: 2px;
  font-weight: 400;
}

.button.-bordered:hover {
  background-color: #d8dde0;
}

.button.-small {
  @extends .-bordered;
  margin-top: 4px;
  font-size: 16px;
  line-height: 24px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #d8dde0;
  margin-bottom: 16px;
}

@media (min-width: 500px) {
  table {
    margin-bottom: 32px;
  }
}

table caption {
  font-weight: normal;
  text-align: left;
  padding: 0 4px 8px 4px;
}

table tr {
  border-bottom: 1px solid #d8dde0;
}

table th, table td {
  display: block;
  padding: 8px 1px 4px 1px;
  text-align: left;
  vertical-align: top;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
}

@media (min-width: 500px) {
  table th, table td {
    display: table-cell;
    padding: 8px 4px;
  }
}

table th {
  padding-bottom: 0;
  font-weight: 700;
  color: #425563;
}

@media (min-width: 500px) {
  table th {
    padding-bottom: 8px;
    font-weight: 400;
  }
}

table .control {
  text-align: right;
}

table .control .button {
  margin-right: 0;
  line-height: 8px;
  padding: 8px;
}

@media (min-width: 500px) {
  table .control .button {
    display: inline-block;
  }
}

table.natural {
  width: 100%;
}

@media (min-width: 500px) {
  table.natural {
    width: auto;
  }
}

table.compact {
  margin-bottom: 8px;
}

table.compact th, table.compact td {
  display: table-cell;
  padding: leading/4;
}

@media (min-width: 500px) {
  table.compact th, table.compact td {
    padding: leading/2;
  }
}

details {
  margin: 16px 0;
}

details summary {
  text-decoration: underline;
  display: inline-block;
  cursor: pointer;
  color: #005eb8;
}

details summary:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 5px #ffb81c;
  -moz-box-shadow: 0 0 0 5px #ffb81c;
  box-shadow: 0 0 0 5px #ffb81c;
}

html {
  background-color: #f0f4f5;
}

#global-footer {
  background-color: #005eb8;
  border-top: 4px solid #003087;
  color: #fff;
  margin-top: 32px;
  padding-top: 32px;
  padding-bottom: 8px;
  min-height: 80px;
}

.footer-container {
  padding-bottom: 4px;
  padding-top: 4px;
}

.footer-container img {
  display: block;
  width: 79px;
  height: 32px;
  padding-bottom: 32px;
  float: left;
}

.footer-container .footer-service-name {
  display: inline;
  color: #fff;
  margin-left: 16px;
  line-height: 32px;
}

.footer-container .footer-service-banner {
  color: #231f20;
}

.footer-container .link-list li {
  clear: both;
}

.-date div {
  float: left;
  padding-right: 1em;
}

.-date .day,
.-date .month {
  width: 3em;
}

.-date .year {
  width: 4em;
}

.error-summary {
  margin: 16px 0;
}

.error-summary > div {
  float: left;
  border-top: 2px solid #da291c;
  background-color: #fbeae8;
  padding: 0 16px;
  color: #ad2116;
}

.error-summary a {
  color: #ad2116;
}

.error-hint {
  display: block;
  color: #da291c;
}

.form-group.-errors input,
.form-group.-errors textarea {
  border-color: #da291c;
}

.js-enabled .form-group.-errors .selection-button-radio::before,
.js-enabled .form-group.-errors .selection-button-checkbox::before {
  border-color: #da291c;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0 0 16px 0;
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset, pre.user-input:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

fieldset legend {
  padding: 0;
  display: table;
}

form {
  display: block;
}

.form-group {
  clear: both;
}

.form-group.-controls {
  margin: 8px 0;
}

@media (min-width: 500px) {
  .form-group.-controls {
    float: left;
  }
}

@media (min-width: 500px) {
  .form-group.-controls .button {
    float: right;
  }
}

input[type='text'],
input[type='number'],
input[type='tel'],
input[type='email'],
input[type='password'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 8px 0 16px 0;
  padding: 4px;
  border: 2px solid #005eb8;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 16px;
}

@media (min-width: 500px) {
  input[type='text'],
  input[type='number'],
  input[type='tel'],
  input[type='email'],
  input[type='password'] {
    width: 75%;
  }
}

input[type='text']:focus,
input[type='number']:focus,
input[type='tel']:focus,
input[type='email']:focus,
input[type='password']:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 5px #ffb81c;
  -moz-box-shadow: 0 0 0 5px #ffb81c;
  box-shadow: 0 0 0 5px #ffb81c;
}

@media (min-width: 500px) {
  input[type='text'].-small,
  input[type='number'].-small,
  input[type='tel'].-small,
  input[type='email'].-small,
  input[type='password'].-small {
    width: 8em;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.-hanging-hint input {
  float: left;
}

.-hanging-hint .form-hint {
  float: left;
  clear: none;
  padding: 6px 0 6px 8px;
}

label {
  display: block;
  width: 100%;
  font-weight: 400;
}

.form-hint {
  display: block;
  clear: both;
  margin: 8px 0 16px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #5C6770;
}

label .form-hint {
  margin: 4px 0 0 0;
}

.primary {
  margin-top: 0;
  display: block;
}

.secondary {
  font-weight: 400;
  display: block;
}

.block-label-legend {
  display: block;
  width: 100%;
  font-weight: bold;
}

.block-label {
  display: block;
  position: relative;
  width: auto;
  padding: 7px 0 7px 50px;
  margin: 8px 0;
  cursor: pointer;
}

@media (min-width: 500px) {
  .block-label {
    float: left;
    clear: both;
  }
}

.block-label input {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 38px;
  height: 38px;
}

.js-enabled .block-label input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.js-enabled .block-label.selection-button-radio::before {
  content: "";
  border: 3px solid #005eb8;
  border-radius: 50%;
  background: #fff;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.js-enabled .block-label.selection-button-radio::after {
  content: "";
  border-radius: 50%;
  background: currentColor;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.js-enabled .block-label.selection-button-checkbox::before {
  content: "";
  border: 3px solid #005eb8;
  background: #fff;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.js-enabled .block-label.selection-button-checkbox::after {
  content: "";
  border: solid;
  border-width: 0 0 5px 5px;
  background: transparent;
  width: 17px;
  height: 7px;
  position: absolute;
  top: 11px;
  left: 9px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.js-enabled .block-label.selection-button-radio.focused::before, .js-enabled .block-label.selection-button-checkbox.focused::before {
  -webkit-box-shadow: 0 0 0 5px #ffb81c;
  -moz-box-shadow: 0 0 0 5px #ffb81c;
  box-shadow: 0 0 0 5px #ffb81c;
}

.js-enabled .block-label.selection-button-radio.selected::after, .js-enabled .block-label.selection-button-checkbox.selected::after {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 8px 0 16px 0;
  padding: 4px;
  border: 2px solid #005eb8;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 16px;
  background-image: -webkit-linear-gradient(top, #f0f4f5 0, rgba(255, 255, 255, 0) 1px);
  background-image: -moz-linear-gradient(top, #f0f4f5 0, rgba(255, 255, 255, 0) 1px);
  background-image: -o-linear-gradient(top, #f0f4f5 0, rgba(255, 255, 255, 0) 1px);
  background-image: linear-gradient(to bottom, #f0f4f5 0, rgba(255, 255, 255, 0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 16px;
  /*@include media(mid) {
    width: 75%;
  }*/
}

textarea:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 5px #ffb81c;
  -moz-box-shadow: 0 0 0 5px #ffb81c;
  box-shadow: 0 0 0 5px #ffb81c;
}

.gp-local-header {
  display: inline-block;
}

.gp-local-header > h1, .gp-local-header > .heading-xxlarge, .gp-local-header > .primary {
  display: inline-block;
  margin-right: 8px;
}

.gp-list {
  display: inline-block;
  font-size: 16px;
}

.status {
  display: inline-block;
  padding: 0 4px;
}

.status.-open {
  border: 2px solid #ddefc7;
}

.map {
  width: 100%;
  height: 200px;
  margin: 8px 0 16px 0;
  border: 2px solid #eceef0;
}

@media (min-width: 500px) {
  .map {
    height: 400px;
  }
}

.gp-finder-search .form-control {
  float: left;
  width: calc(100% - 52px);
}

@media (min-width: 500px) {
  .gp-finder-search .form-control {
    width: 75%;
  }
}

.gp-finder-search .button {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  padding: 0;
  margin: 8px 0;
  font-family: inherit;
  color: #fff;
  text-indent: -999em;
  background: url("/images/icon-search.svg") center no-repeat #005eb8;
  background-size: 65%;
  border: 0;
  cursor: pointer;
}

@media (min-width: 980px) {
  .gp-finder-results {
    max-width: 75%;
  }
}

.gp-finder-results .result {
  cursor: pointer;
  display: block;
  margin: 9px 0;
  padding: 12px 12px 6px 12px;
  text-decoration: none;
  color: #231f20;
  background-color: #fff;
  border: 1px solid #768692;
  border-bottom-width: 2px;
}

@media (min-width: 980px) {
  .gp-finder-results .result {
    margin: 18px 0;
  }
}

.gp-finder-results .result:hover, .gp-finder-results .result:focus {
  outline: 3px solid #ffb81c;
}

.gp-finder-results .result-title {
  font-size: 20px;
  font-weight: 400;
  color: #005eb8;
  text-decoration: underline;
  margin: 0;
}

.gp-finder-results p {
  margin: 6px 0;
  font-size: 16px;
}

@media (min-width: 980px) {
  .gp-finder-results p {
    margin: 12px 0;
    font-size: 18px;
  }
}

.gp-finder-results .distance {
  font-size: 14px;
}

@media (min-width: 980px) {
  .gp-finder-results .distance {
    font-size: 16px;
  }
}

.gp-finder-results .person {
  position: relative;
  left: 6px;
  padding-left: 18px;
  border-left: 1px dotted #231f20;
}

.gp-finder-results .person img {
  display: inline-block;
  vertical-align: middle;
}

.gp-finder-results .person:before {
  content: '';
  position: absolute;
  left: -1px;
  top: 48%;
  bottom: 0;
  display: block;
  width: 12px;
  background-color: #fff;
  border-top: 1px dotted #231f20;
}

.gp-finder-results strong {
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 400;
  background-color: #e6eff8;
}

.gp-finder-results a.start-of-page:not(:first-child) {
  position: relative;
  margin-top: 30px;
}

.gp-finder-results a.start-of-page:not(:first-child):before {
  content: "";
  display: block;
  background: #ddd;
  position: absolute;
  top: -17px;
  width: 100%;
  height: 2px;
  left: 0;
}

@media (min-width: 980px) {
  .gp-finder-pagination {
    max-width: 75%;
  }
}

.gp-finder-foot,
.gp-finder-no-results {
  margin-top: 22px;
  font-size: 16px;
}

@media (min-width: 980px) {
  .gp-finder-foot,
  .gp-finder-no-results {
    max-width: 75%;
  }
}

.gp-finder-foot li,
.gp-finder-no-results li {
  margin-bottom: 4px;
}

@media (min-width: 980px) {
  .gp-finder-foot li,
  .gp-finder-no-results li {
    margin-bottom: 8px;
  }
}

#global-header {
  border-bottom: 3px solid #005eb8;
  padding-top: 32px;
  padding: 24px;
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 980px) {
  #global-header {
    padding-left: 20px;
  }
}

@media (min-width: 500px) {
  #global-header {
    padding-top: 16px;
  }
}

.header-container {
  padding-top: 16px;
}

.header-logo {
  display: block;
  margin-bottom: 4px;
  float: left;
}

.header-logo img {
  display: block;
  width: 79px;
  height: 32px;
}

.service-name {
  display: inline;
  color: #425563;
  margin-left: 16px;
}

@media (min-width: 500px) {
  .service-name {
    display: inline;
    line-height: 32px;
  }
}

.header-panel {
  color: #fff;
  background-color: #005eb8;
  padding: 16px 24px 16px 24px;
  margin-bottom: 32px;
}

.header-panel > .heading-xlarge {
  padding-top: 16px;
}

@media (min-width: 500px) {
  .header-panel {
    padding: 24px 16px 16px 16px;
  }
}

.header-panel .header {
  margin-bottom: 16px;
}

.header-panel .content-seperator {
  width: 130px;
  height: 4px;
  background-color: #337ec6;
  margin-bottom: 16px;
}

.header-panel .precis {
  font-weight: 200;
}

.signage {
  margin: 16px 0;
}

.signage > div {
  float: left;
  padding: 0 8px;
}

@media (min-width: 500px) {
  .signage > div {
    padding: 0 16px;
  }
}

.info {
  border-top: 2px solid #f0f4f5;
  border-bottom: 2px solid #f0f4f5;
  padding: 8px;
  background-color: #fefefe;
}

.info > .cta {
  margin-bottom: 16px;
}

.message {
  border-top: 2px solid #ffb81c;
  background-color: #fff8e8;
  color: #825900;
}

.completion {
  border-top: 2px solid #78be20;
  background-color: #f2f9e9;
}

.info-pop {
  color: #005eb8;
  font-weight: 700;
  border: 4px solid currentcolor;
}

.subtle-push {
  border: 2px solid #80afdc;
}

.callout {
  padding: 8px 24px;
  margin-bottom: 32px;
  background-color: #fff;
}

.callout:focus {
  outline: 3px solid #ffb81c;
}

.callout--muted {
  background-color: #f0f4f5;
}

.callout--info {
  background-color: #f0f4f5;
  border: solid #768692;
  border-width: 0 0 0 4px;
}

.callout--attention {
  border: 8px solid #0072ce;
}

.callout--warning {
  background-color: #fdf2d5;
  border: solid #fada8b;
  border-width: 4px 0;
}

.callout--alert {
  background-color: #f5e6e4;
  border-top: 8px solid #da291c;
}

.callout--severe {
  background-color: #da291c;
  color: #fff;
}

.callout--severe a:link {
  color: #fff;
}

.callout--severe a:visited {
  color: #fff;
}

.callout--severe a:hover {
  color: #d4efff;
}

.callout--severe a:active {
  color: #d4efff;
}

.callout--severe a:focus {
  outline: 3px solid #ffb81c;
}

.callout--error {
  border: 4px solid #da291c;
}

.callout--compact {
  display: inline-block;
}

@media (min-width: desktop) {
  .callout--compact {
    padding: 16px 24px;
  }
}

.callout--disposition {
  background-color: #005eb8;
  color: #fff;
}

.nhsid-container {
  margin: 16px auto;
  padding: 32px 0 0 0;
  background: #005eb8 url("/images/nhs-logotype-blue.svg") no-repeat 8px 8px;
  background-size: 70px;
}

@media (min-width: 500px) {
  .nhsid-container {
    max-width: 480px;
  }
}

.nhsid-container > div {
  background-color: #f2f7fb;
  padding: 16px 16px 8px 16px;
}

.nhsid-container input[type='text'],
.nhsid-container input[type='password'] {
  width: 100%;
}

.nhsid-container .nhsid-secondary-controls {
  clear: both;
  border-top: 1px solid #d9e7f4;
  margin-top: 16px;
  padding-top: 8px;
  font-size: 16px;
  line-height: 1.5;
}

body, pre.user-input {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.prototype-warning-inner, .footer-container, .header-container,
.content {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 980px) {
  .prototype-warning-inner, .footer-container, .header-container,
  .content {
    padding-left: 0;
    padding-right: 0;
  }
}

.content {
  padding-top: 48px;
}

@media (min-width: 640px) {
  .f-right {
    float: right;
  }
}

.content-block {
  margin-bottom: 48px;
}

.grid-row {
  display: block;
  margin-left: -1.7%;
  margin-right: -1.7%;
}

.grid-row [class*='grid-'] {
  margin-left: 1.7%;
  margin-right: 1.7%;
}

.grid-1-2 {
  width: 96.6%;
}

@media (min-width: 640px) {
  .grid-1-2 {
    width: 46.6%;
    float: left;
  }
}

.grid-1-3 {
  width: 96.6%;
}

@media (min-width: 640px) {
  .grid-1-3 {
    width: 29.9%;
    float: left;
  }
}

.grid-2-3 {
  width: 96.6%;
}

@media (min-width: 640px) {
  .grid-2-3 {
    width: 63.2666%;
    float: left;
  }
}

.grid-1-4 {
  width: 21.6%;
  float: left;
}

.grid-3-4 {
  width: 71.6%;
  float: left;
}

.grid-1-6 {
  width: 13.2666%;
  float: left;
}

.grid-1-12 {
  width: 4.9333%;
  float: left;
}

.grid-5-12 {
  width: 96.6%;
}

@media (min-width: 640px) {
  .grid-5-12 {
    width: 38.2665%;
    float: left;
  }
}

.grid-7-12 {
  width: 54.9331%;
  float: left;
}

.grid-10-12 {
  width: 79.933%;
  float: left;
}

.grid-11-12 {
  width: 88.2663%;
  float: left;
}

.grid-row [class*='grid-'] {
  /*background-color: #eee;*/
}

.grid-row [class*='grid-'] > :first-child {
  margin-top: 0;
}

.shunt {
  margin-top: 16px;
}

.shunt-2 {
  margin-top: 32px;
}
