<footer id="global-footer" role="contentinfo">
  <div class="footer-container">
    <img class="nhs-logo" src="/images/logotype-nhs-colour.png" alt="NHS" />
    <span class="footer-service-name">111 Online</span>
    <div class="banner banner--beta footer-service-banner ">BETA</div>
    <ul class="link-list">
        <li><a class="link--reverse-polarity" href="#">Terms and conditions</a></li>
        <li><a class="link--reverse-polarity" href="#">Privacy statement</a></li>
        <li><a class="link--reverse-polarity" href="#">Cookies</a></li>
    </ul>
  </div>
</footer>
