.header-panel {
  color: $white;
  background-color: $nhs-blue;
  padding: $leading*2 $leading*3 $leading*2 $leading*3;
  margin-bottom: 32px;

  >.heading-xlarge {
    padding-top: $leading*2;
  }

  @include media(mid) {
    padding: $leading*3 $leading*2 $leading*2 $leading*2;
  }

  .header {
    margin-bottom: $leading*2;


  }

  .content-seperator {
    width: 130px;
    height: $leading/2;
    background-color: tint($nhs-blue, 20%);
    margin-bottom: $leading*2;
  }

  .precis {
    font-weight: $lightweight;
  }
}
