html {
  background-color: $grey-5;
}

#global-footer {
  background-color: $nhs-blue;
  border-top: $baseline-grid-unit solid $dark-blue;
  color: $white;
  margin-top: $leading*4;
  padding-top: $leading*4;
  padding-bottom: $leading;
  min-height: 80px;
}

.footer-container {
  @extend %block;
  @extend %contain-floats;
  padding-bottom: $leading/2;
  padding-top: $leading/2;

  img {
    display: block;
    width: 79px;
    height: 32px;
    padding-bottom: $leading*4;
    float: left;
  }

  .footer-service-name {
    display: inline;
    color: $white;
    margin-left: $leading*2;
    line-height: 32px;
  }

  .footer-service-banner {
    color: $black;
  }

 .link-list li {
    clear: both;
  }

}
